.wrapper {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 1em;

  .ip-wrapper {
    cursor: pointer;
  }
  .copy-icon {
    height: 1em;
  }

  .functionality {
    margin-top: 1em;
  }
}